ul {
    display: flex;
    flex-wrap: wrap ;
    max-width: 1280px;
}

li{
    flex: auto;
}

@media only screen and (max-width: 768px) {
    ul {
        display: flex;
        flex-direction: column;
        margin-left: -40px;
    }
}