@font-face {
	font-family: 'Daxline Pro 200';
	src: url(../../assets/fonts/200/normal.eot) format('eot'),
		url(../../assets/fonts/200/normal.woff) format('woff'),
		url(../../assets/fonts/200/normal.woff2) format('woff2'),
		url(../../assets/fonts/200/normal.ttf) format('ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Daxline Pro 400';
	src: url(../../assets/fonts/400/normal.eot) format('eot'),
		url(../../assets/fonts/400/normal.woff) format('woff'),
		url(../../assets/fonts/400/normal.woff2) format('woff2'),
		url(../../assets/fonts/400/normal.ttf) format('ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Daxline Pro 500';
	src: url(../../assets/fonts/500/normal.eot) format('eot'),
		url(../../assets/fonts/500/normal.woff) format('woff'),
		url(../../assets/fonts/500/normal.woff2) format('woff2'),
		url(../../assets/fonts/500/normal.ttf) format('ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Daxline Pro 700';
	src: url(../../assets/fonts/700/normal.eot) format('eot'),
		url(../../assets/fonts/700/normal.woff) format('woff'),
		url(../../assets/fonts/700/normal.woff2) format('woff2'),
		url(../../assets/fonts/700/normal.ttf) format('ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Daxline Pro 800';
	src: url(../../assets/fonts/800/normal.eot) format('eot'),
		url(../../assets/fonts/800/normal.woff) format('woff'),
		url(../../assets/fonts/800/normal.woff2) format('woff2'),
		url(../../assets/fonts/800/normal.ttf) format('ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Daxline Pro 900';
	src: url(../../assets/fonts/900/normal.eot) format('eot'),
		url(../../assets/fonts/900/normal.woff) format('woff'),
		url(../../assets/fonts/900/normal.woff2) format('woff2'),
		url(../../assets/fonts/900/normal.ttf) format('ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'll-icon-font';
	src: url(../../assets/fonts/ll-icon-font/ll-icon-font.woff) format('woff'),
		url(../../assets/fonts/ll-icon-font/ll-icon-font.ttf) format('ttf'),
		url(../../assets/fonts/ll-icon-font/ll-icon-font.eot) format('eot'),
		url(../../assets/fonts/ll-icon-font/ll-icon-font.svg) format('svg');
	font-style: normal;
	font-weight: normal;
}
