.selector {
	&__frame {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 5px 16px;
		max-width: 140px;
		max-height: 20px;
		background: $color-casino-base;
		border-radius: 4px;
	}

	&__frame p {
		font-family: 'Daxline Pro 900';
		color: $color-ui-casino-02;
	}

	&__frame span {
		padding-right: 10px;
		cursor: pointer;
		font-family: 'll-icon-font';
		color: $color-ui-casino-02;
	}

	&__option p {
		font-family: 'Daxline Pro 900';
		cursor: pointer;
		margin-top: -2px;
		color: $color-ui-casino-02;
	}

	&__option span {
		padding-right: 10px;
		font-family: 'll-icon-font';
		cursor: pointer;
		color: $color-ui-casino-02;
	}

	&__option label {
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 7px;
		font-family: 'Daxline Pro 200';
		position: relative;
		padding-left: 28px;
		cursor: pointer;
		line-height: 20px;
		display: inline-block;
		color: $color-ui-casino-02;
	}

	&__optionbox {
		padding-top: 5px;
		padding-left: 20px;
		padding-right: 40px;
		padding-bottom: 20px;
	}

	&__option {
		top: 60.2px;
		z-index: 1;
		position: absolute;
		flex-direction: row;
		align-items: center;
		padding: 5px 16px;
		background: $color-casino-base;
		border-radius: 4px;

		[type='radio']:checked,
		[type='radio']:not(:checked) {
			position: absolute;
			left: -9999px;
		}

		[type='radio']:checked + i:before,
		[type='radio']:not(:checked) + i:before {
			margin-top: 1px;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 20px;
			height: 20px;
			border: 1px solid #44495a;
			border-radius: 100%;
			background: transparent;
		}

		[type='radio']:checked + i:after,
		[type='radio']:not(:checked) + i:after {
			margin-top: 1px;
			content: '';
			width: 12px;
			height: 12px;
			background: $color-casino-complimentary;
			position: absolute;
			top: 5px;
			left: 5px;
			border-radius: 100%;
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}

		[type='radio']:not(:checked) + i:after {
			opacity: 0;
			-webkit-transform: scale(0);
			transform: scale(0);
		}

		[type='radio']:checked + i:after {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
}
