$background-grey-dark: #1D2438;

$background-grey-light: #353b4d;

$button-green-dark: #69a507;

$button-green-light:#A5CD28;

$color-ui-casino-01: #FFFFFF;

$select-background: #3C4043;

$color-casino-complimentary: #F72585;

$color-ui-casino-02: #B6B7C0;

$color-ui-casino-03: #747885;

$color-casino-base: #131B2F;
